<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center word" id="{{ word  }}"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
      {% autoescape off %}
    <strong>{{ session.jumbleHTML }}</strong>
      {% endautoescape %}
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  <input type="hidden" id="jumble" value="{{  session.jumble }}" />
  </form>
</div></div>

<br />

<div id="results_container" class="hide">
    <h2 id="results_header">You found </h2>
    <p id="results"></p>
</div>


<script type="text/javascript">
$("#attempt").keyup(function(){
    var txt = $("#attempt").val();  // Current content of the input field
    var arr = txt.split("");

    var jumble = $("#jumble").val().split("");
    jumble.forEach(function(v,k){
        $(".letter-"+v).removeClass("selected");
    });
    arr.forEach(function(v,k){
        $(".letter-"+v+":not(.selected):first").addClass("selected");
    });
});
// handling the AJAX Request each keyup
$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

   var jumble = $("input#jumble").val();
    var output = "";
    $(".selected").each(function(i,v){ output += v.id + ","; });
   $.post( "/_check", { attempt: txt, jumble: jumble },
        function(data) {
            var results = $("#results");
            if (data.matches != null) {
                if (data.matches.length > 0 && !data.completed) {
                    $("#results_container").removeClass("hide");
                    results.html("");
                    $.each(data.matches, function(i, v){
                        results.append("<span class='message'>"+v + "</span><br />");
                        $("#"+v).addClass("selected");
                    });
                } else if (data.matches.length === data.required && data.completed) {
                    $("#results_container").removeClass("hide");
                    $("#results_header").html("You Found: [" + data.matches.join(",") + "]");
                    results.html("");
                    results.append("You have completed the game, and will be redirected! (shortly...)");
                    setTimeout(window.location.replace("/success"), 10000);
                }
            }
        }
   );
});
</script>

 </div> <!-- container -->
</body> </html>
